[submodule "plugins/snap/foscam_python_lib"]
	path = plugins/snap/foscam_python_lib
	url = https://github.com/quatanium/foscam-python-lib
[submodule "bender/plugins/v2/snap/foscam_python_lib"]
	path = bender/plugins/v2/snap/foscam_python_lib
	url = https://github.com/quatanium/foscam-python-lib
