[Unit]
Description=bender-bot
After=network.target

[Service]
ExecStart=/home/pschmitt/dev/bender-bot/bender/run.sh

[Install]
WantedBy=default.target
