bot:
    token: XXXX
    authorized_users:
        - XXXX

camera:
    host: XXX
    port 88
    username: XXX
    password: XXX

hue:
    host: XXX
    port: 80
    username: XXX

contacts:
    Wife: "+XXX"
    Myself: "+XXX"
