bot:
    telegram:
        token: XXX
        authorized_users:
            - XXX
    facebook:
        bind_address: XXX
        bind_port: XXX
        endpoint: XXX
        page_token: XXX
        verification_token: XXX
        authorized_users:
            - XXX
        administrators:
            - XXX

plugins:
    camera:
        host: XXX
        port 88
        username: XXX
        password: XXX

    hue:
        host: XXX
        port: 80
        username: XXX

    contacts:
        Wife: "+XXX"
        Myself: "+XXX"

contacts:
    Me:
        nicknames:
            - me
        phone: "XXX"
        facebook:
            username: XXX
            id: XXX
        telegram: XXX
    wife:
        nicknames:
            - wife
            - her
        phone: "XXX"
        facebook:
            username: XXX
            id: XXX
